name: Deploy with SAM CLI
on:
  push:
    branches:
      - main  # Change this to your main branch name

jobs:
  deploy:
    name: Deploy Serverless Application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9' 

      - name: Install AWS CLI and SAM CLI
        run: |
          sudo apt-get install -y python3-pip
          pip3 install --user awscli aws-sam-cli

      - name: Configure AWS credentials
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_INCHCAPE }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_KEY_INCHCAPE }}
          aws configure set default.region ${{ secrets.AWS_REGION_INCHCAPE }} # Change this to your desired region

      - name: Build Serverless Application
        run: |
          cd inchcape-api
          sam build -t template.yaml

      - name: Deploy Serverless Application
        run: |
          cd inchcape-api
          sam deploy --stack-name inchcape-api --region ${{ secrets.AWS_REGION_INCHCAPE }} --capabilities CAPABILITY_IAM  --s3-bucket inchcape-api-lambdasource # Change the stack name as needed

