name: Deploy with SAM CLI
on:
  push:
    branches:
      - main  # Change this to your main branch name
      - 'feature/*'
jobs:
  deploy:
    name: Deploy Serverless Application
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9' 

      - name: Install AWS CLI and SAM CLI
        run: |
          sudo apt-get install -y python3-pip
          pip3 install --user awscli aws-sam-cli

      - name: Configure AWS credentials
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_INCHCAPE }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_KEY_INCHCAPE }}
          aws configure set default.region us-east-2 # Change this to your desired region

      - name: Validate Serverless Application
        run: |
          cd inchcape-api
          sam validate -t template.yaml

      - name: Build Serverless Application
        run: |
          cd inchcape-api
          sam build -t template.yaml

      - name: Deploy Serverless Application
        if: github.ref == 'refs/heads/main'
        run: |
          cd inchcape-api
          sam deploy --debug # Change the stack name as needed
  semanticversion:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'  # Add this line to execute the job only on the main branch
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Python Semantic Release
      uses: python-semantic-release/python-semantic-release@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
